PORT=*******
POSTGRES_HOST=*******
POSTGRES_PORT=*******
POSTGRES_USER=*******
POSTGRES_PASSWORD=*******
POSTGRES_DB=*******
SHOPIFY_STORE_NAME=*******
SHOPIFY_ACCESS_TOKEN=*******
SHOPIFY_API_VERSION=*******